
<html>

    <head></head>
    <title>alt="TDEE計算機"</title>
    
    <body>
        <div class="elementor-element elementor-element-8d2f2fe elementor-widget elementor-widget-heading" data-id="8d2f2fe" data-element_type="widget" data-widget_type="heading.default">
            <div class="elementor-widget-container">
                <h2 class="elementor-heading-title elementor-size-default">TDEE熱量計算機與BMR計算機</h2>
            </div>
        </div>
        <div class="elementor-element elementor-element-42e6261 elementor-widget elementor-widget-html" data-id="42e6261" data-element_type="widget" data-widget_type="html.default">
            <div class="elementor-widget-container">
                <form action="next.html">
                    <fieldset>性別 :<select id="gender">
                                <option value="male">男生</option>
                                <option value="female">女生</option>
                            </select><br><br>身高 (cm): <input id="height" type="text" /><br><br>體重 (kg.) : <input id="weight" type="text" /><br><br>年齡 : <input id="age" type="text" /><br><br>日常活動等級:<select id="activitylevel">
                                <option value="l">沒在運動...</option>
                                <option value="lm">一個星期運動1-3天&gt;&lt;</option>
                                <option value="m">一個星期運動3-5天</option>
                                <option value="mh">一個星期運動6-7天</option>
                                <option value="h">無時無刻都在動XD</option>
                            </select></fieldset>
                </form><br><button style="font-size: 16px; color: #ffffff; background-color: #1e73be; padding: 5px 25px 5px 25px; border-style: solid; border-color: #1e73be;" type="button"> 計算</button><br><br><br>
                <p id="lblResult" style="font-size: 150%; color: black;">你的基礎代謝率：</p><br>
                <p id="lblResult2" style="font-size: 150%; color: black;">每日總消耗熱量TDEE：</p>
            </div>
        </div>
        <script>
            function Calculate() {
                var gender = document.getElementById("gender").value;
                var weight = parseFloat(document.getElementById("weight").value);
                var height = parseFloat(document.getElementById("height").value);
                var age = parseFloat(document.getElementById("age").value);
                var activitylevel = document.getElementById("activitylevel").value;
                //var MaintenanceCalories = 0;
    
    
                if (gender == "male")
                //English-BMR = 66 + ( 6.23 x weight in pounds ) + ( 12.7 x height in inches ) - ( 6.8 x age in year )
                //Metric-BMR = 66 + ( 13.7 x weight in kilos ) + ( 5 x height in cm ) - ( 6.8 x age in years )
                {
                    var val1 = 13.7 * weight;
                    var val2 = 5 * height;
                    var val3 = 6.8 * age;
                    result = 66 + val1 + val2 - val3;
                    var val4 = activitylevel;
                } else if (gender == "female")
                //English-Women: BMR = 655 + ( 4.35 x weight in pounds ) + ( 4.7 x height in inches ) - ( 4.7 x age in years)
                //Women: BMR = 655 + ( 9.6 x weight in kilos ) + ( 1.8 x height in cm ) - ( 4.7 x age in years )
                {
                    var val1 = 9.6 * weight;
                    var val2 = 1.8 * height;
                    var val3 = 4.7 * age;
                    result = 655 + val1 + val2 - val3;
                    var val4 = activitylevel;
                }
    
    
                switch (val4) {
                    case "l":
                        MaintenanceCalories = result * 1.2;
                        break;
    
                    case "lm":
                        MaintenanceCalories = result * 1.375;
                        break;
    
                    case "m":
                        MaintenanceCalories = result * 1.55;
                        break;
    
                    case "mh":
                        MaintenanceCalories = result * 1.725;
                        break;
    
                    case "h":
                        MaintenanceCalories = result * 1.9;
                        break;
    
                    default:
                        "m";
                }
            }
            //document.write ('Your BMR is: ' + result.toFixed(2) + '. Your Maintenance Calories are: ' + MaintenanceCalories.toFixed(2));
            document.getElementsByTagName("button")[0].addEventListener("click", function() {
                Calculate();
                document.getElementById('lblResult').innerHTML = '你的基礎代謝率： ' + result.toFixed(2);
                document.getElementById('lblResult2').innerHTML = '每日總消耗熱量TDEE： ' + MaintenanceCalories.toFixed(2);
            });
        </script>
    </body>
    
    </html>